*.avi
*.mp3
*.m4a
*.zip
TODO*
uploads/*
dev.dockerfile

.dockerignore
.ebextensions
nbproject
public
package-lock.json
input

node-ffmpeg.zip

/node_modules
.env
.env.*
.env.local
.env.*.local
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/nbproject/private/
